@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Sofia', cursive;
    font-size: 20px;
}
body{
    text-align: center;
}
header{
    display: flex;
    background-color: cornflowerblue;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
   
}
.header .logo{
    cursor: pointer;
}
.header .logo img{
    height: 70px;
    width: auto;   
}
.header .logo img:hover{
    transform: scale(1.2);
}
.header .nav-links{
    list-style: none;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}
header .nav-links li:hover{
    transform: scale(1.1);
}
.header .nav-links a{
    font-size: 700;
    color: bisque;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: yellow;
}

.imagen{
    text-align: center;
    margin-top: 25px;
    font-family: 'Sofia', cursive;
    background-color: white;
    

}
#texto_carusel{
    
    text-align: left;
    font-size: 50px;
    color: white;
    
}

h4{

    font-size: medium;
    font-family: 'Sniglet', cursive;
}

#nav{
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 1px;
    background-color: rgb(233, 168, 240);
    
    
}
